            <!-- main -->
                <div class="padding">
                    <div class="full col-sm-9">
                      
                      <!-- content -->
                        <div class="page-header text-muted">
                          關於本站
                        </div> 
                        
                        <!--/top story-->
                        <div class="row">    
                          <div class="col-sm-10">
                            <h2>邊緣世界</h2>
                              <div>
                                <h4>是一個處於社會邊緣的人們所群聚的地方</h4>
                                <h4>沒人在意他們生活中的任何事物</h4>
                                <h4>但人畢竟是群居動物，不可能孤老終身</h4>
                                <h4>總會需要與人分享自己人生中的喜怒哀樂</h4>
                                <h4>以及傾訴各種酸甜苦辣、婆婆媽媽的瑣碎小事，不論那個傾聽的人是誰</h4>
                                <h4>邊緣世界就是這樣的一個留言系統</h4>
                                <h4>無論你有什麼事想說，就寫下來吧！</h4>
                              </div>
                       
                              <script src="js/script.js"></script>                  
                          </div>                     
                        </div> 
                  
                         <div class="col-sm-12">
                          <div class="page-header text-muted divider">
                            聯絡我們
                          </div>
                        </div>
                      
                        <div class="row" id="footer">    
                          <div class="col-sm-6">
                             <a href="https://github.com/Shin9626" class="pull-left"><img src="img/git.png" class="img-circle"></a＞
                            <small class="text-muted"> </small>
                            <a href="https://plus.google.com/u/0/110006317009842519867" class="pull-left"><img src="img/google.png" class="img-circle"></a>          
                            <small class="text-muted"> </small>              
                            <a href="https://www.instagram.com/penspulse" class="pull-left"><img src="img/ig.png" class="img-circle"></a>                                           
                          </div>

                          <div class="col-sm-12">     
                            <hr>                     
                            <a href="#" class="pull-right">©Copyright Inc.</a>
                          </div>
                        </div>
                       
                </div><!-- /padding -->
            </div>
            <!-- /main -->