<div class="col-sm-12"></div>

<div class='name'>暱稱:</div> <input type="text" id="firstname"placeholder="輸入你的暱稱"/><br />
<div class='name'>內容:</div> <textarea type="text" id="occupation" style="width:300px;height:100px;" placeholder="寫下你的留言"></textarea><br />
<div class='name'>文章編輯密碼:</div> <input type="text" id="mypass"placeholder="輸入你的編輯密碼"/><br />
<div>
    <hr>
    <button class="btn-post btn btn-primary btn-lg">送出</button>
</div>